; Mailing list

[SETUP]
NAME = Mailing list name
MAIL = mailling@domain.tld

[IMAP]
HOST = imap.domain.tld
USER = email@domain.tld
PASSWORD = secure
RECEIVED = INBOX.received    ; folder for already queued mails
ERRORS = INBOX.errors        ; folder for error mails

[SMTP]
HOST = smtp.domain.tld
USER = email@domain.tld
PASSWORD = secure
BOUNCE = bounce@domain.tld

[LIST]
email@domain.tld = Name of Person
